/* fonts */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Raleway&display=swap');

html{
    scroll-behavior: smooth;
}

html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS Variables */
:root{
    --primary-color: #4458DC;
    --primary-color2: #854FEE;
    --title-color: #141313;
    --text-color: #3f3f3f;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #4458DC 0%, #854FEE 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57,56,61,0.205);

    --raleway: 'Raleway', sans-serif;
    --DynaPuff: 'DynaPuff', cursive;
}

.title-text{
    font: normal bold 50px/72px var(--raleway);
}

.text-uppercase{
    text-transform: uppercase;
}

.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--raleway);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}


.button.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
}

button.primary-button:hover{
    background: whitesmoke;
    color: var(--title-color);
}

button.primary-button::after, button.secondary-button::after{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: var(--gradient-color);
    content: "";
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button{
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button.secondary-button:hover{
    background: var(--gradient-color);
    color: whitesmoke;
}

p.para{
    color: var(--text-color);
    font: normal 500 16px/25px var(--raleway);
}

.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
    color: #4458DC;
    font-family: var(--DynaPuff);
}

.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal bold 15px/2px var(--raleway);
    text-transform: uppercase;
    pad: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.site-banner{
    margin-left: 5%;
}
.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: var(--title-color);
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 20rem;
}

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 30px/50px var(--raleway);
    letter-spacing: 12px;
}

.site-main .about-area .about-title  .paragraph > p{
    padding: .4rem 0;
}